@model APPR6312_Assignment.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="transID" />
            <div class="form-group">
                <label asp-for="transDate" class="control-label"></label>
                <input asp-for="transDate" class="form-control" />
                <span asp-validation-for="transDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transAmount" class="control-label"></label>
                <input asp-for="transAmount" class="form-control" />
                <span asp-validation-for="transAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transType" class="control-label"></label>
                <input asp-for="transType" class="form-control" />
                <span asp-validation-for="transType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

